## Importando datos

In [41]:
import pandas as pd
import numpy as np
from datetime import date

In [42]:
df1 = pd.read_csv('balances.txt', sep=',')

In [43]:
# df1['sum'] = df1[["M2.1","M2.2"]].sum(axis=1)
# print(df1['sum'] )
#df1.replace(,12)

df1=df1.fillna(np.nan)

#df1=df1.replace("",np.nan)
# df1=df1.fillna(0)

# df1['S1'] = df1[["S1-III","S1-IV","S1-V","S1-VII"]].sum(axis=1,numeric_only=True)
# df1['S2'] = df1[["TS(S2)III","TS(S2)IV","TS(S2)V","TS(S2)VI"]].sum(axis=1,numeric_only=True)

df1['S1'] = df1[["S1-III","S1-IV","S1-V","S1-VII"]].sum(axis=1, min_count=1)
df1['S2'] = df1[["TS(S2)III","TS(S2)IV","TS(S2)V","TS(S2)VI"]].sum(axis=1, min_count=1)



# df1["S1"]=+df1["S1-III"]+df1["S1-IV"]+df1["S1-V"]+df1["S1-VII"]
# df1["S2"]=+df1["TS(S2)III"]+df1["TS(S2)IV"]+df1["TS(S2)V"]+df1["TS(S2)VI"]

df1=df1.drop(columns={"S1-III","S1-IV","S1-V","S1-VII","TS(S2)III","TS(S2)IV","TS(S2)V","TS(S2)VI","CoordX","CoordY"})
# df1.head()

In [44]:
df1["M1"]=df1["M1.2"]
df1["M2"]=df1["M2.2"]

# Reemplazar valores en "M1" si "M1.2" es NaN con el valor de "M1.1"
df1.loc[pd.isna(df1["M1.2"]), "M1"] = df1["M1.1"]

# Reemplazar valores en "M1" si "M1.2" es NaN con el valor de "M1.1"
df1.loc[pd.isna(df1["M2.2"]), "M2"] = df1["M2.1"]
# df1["M2"][(df1["M2"]== 0) & (df1["M2.1"]>0)]=df1["M2.1"]
# df1["M2"][(df1["M2"]==np.nan) & (df1["M2.1"]!=np.nan)]=df1["M2.1"]
# df2 = df1[["M1","M1.2","M1.1","M2","M2.2","M2.1"]].copy()

nueva_fila = []

for i in range(len(df1.columns)):
    if i == 0:  # Si es la primera columna
        #nueva_fila.append(np.nan)
        nueva_fila.append("NA")
        
    else:  # Las columnas restantes
        nueva_fila.append(-2000)
        
df1.loc[len(df1)]=nueva_fila

df1=df1.drop(columns={"M1.1","M1.2","M2.1","M2.2"})
# df1

# df2.head()

In [45]:
# df1.head()

In [46]:
# Renaming columns
df1.rename(columns={'G1.1': 'G1', 'G1.2': 'G2','A1.1':'A1','A1.2':'A2','TS(TC)':'TC'}, inplace=True)
# print(df1.head())

In [47]:
#otro
# Reemplazar valores en "M1" si "M1.2" es NaN con el valor de "M1.1"
df1.loc[pd.isna(df1["P"]), "P"] = df1["CN"]
#df1["P"][df1["P"]==0]=df1["CN"]
df1=df1.drop(columns={"CN"})
# print(df1.head())

In [48]:
df1.loc[pd.isna(df1["TL"]), "TL"] = df1["TS(TL)"]
df1=df1.drop(columns={"TS(TL)"})
# print(df1.head())

In [49]:
# df1=df1.fillna(-1000)
#df1=df1.replace(0,-1000)
df1=df1.fillna(-1000)
# print(df1.head())

In [50]:
todays_date = date.today()
# print("Today's date =", todays_date)
df1.to_excel(f"balances_GUS_{todays_date}.xlsx",index=False)

##CARGA DE SHP  ##

### probando con shp de

###instalar el geoPandas

In [51]:
#%pip install geopandas
#%pip install geodatasets

In [52]:
import geopandas as gpd
from geodatasets import get_path
import os
import zipfile

In [53]:
# path_to_data = get_path("nybb")
# gdf = geopandas.read_file(path_to_data)

# gdf

In [54]:
#path_to_data
#'C:\\Users\\gchiappe\\AppData\\Local\\geodatasets\\geodatasets\\Cache\\nybb_16a.zip.unzip\\nybb_16a\\nybb.shp'

## preparacion de Carpetas

In [55]:

import shutil

data_folder = 'reservas'
output_folder = 'output'

if not os.path.exists(data_folder):
    os.mkdir(data_folder)
    
    
# Eliminar la carpeta
if os.path.exists(output_folder):
    shutil.rmtree(output_folder)
    print(f"La carpeta {output_folder} ha sido eliminada")
else:
    print("La carpeta no existe")
    
    
    
if not os.path.exists(output_folder):
    os.mkdir(output_folder)

La carpeta output ha sido eliminada

In [56]:
# data_folder = 'reservas'
# output_folder = 'output'

# if not os.path.exists(data_folder):
#     os.mkdir(data_folder)
# if not os.path.exists(output_folder):
#     os.mkdir(output_folder)

### RESERVAS

In [57]:
reservasshp = os.path.join(data_folder, 'zona_total_mapas_merge13-geo.shp') 
reservasgpd = gpd.read_file(reservasshp)

In [58]:
reservasgpd.head(1)

,Combinacio,FID_1,Ctrde,Suelo,Lat,Long,X,Y,geometry
0,01alBRAeste_1,0.0,01alBRA_1,BRAGADO,-34.993,-61.109,5398764.398,6127596.045,"MULTIPOLYGON (((-61.07312 -34.98516, -61.07208..."

In [59]:
reservasgpd.shape

(514, 9)

In [60]:
reservasgpd['centroide'] = reservasgpd['Ctrde']
reservasgpd['centroide'].head()

0    01alBRA_1
1    01alBRA_2
2    01alBRA_3
3    01alBRA_4
4    01alCPS_1
Name: centroide, dtype: object

In [61]:
reservasoutgpd = reservasgpd.merge(df1, on='centroide')

In [62]:
reservasoutgpd.head(1)

,Combinacio,FID_1,Ctrde,Suelo,Lat,Long,X,Y,geometry,centroide,...,G1,G2,A1,A2,TL,P,S1,S2,M1,M2
0,01alBRAeste_1,0.0,01alBRA_1,BRAGADO,-34.993,-61.109,5398764.398,6127596.045,"MULTIPOLYGON (((-61.07312 -34.98516, -61.07208...",01alBRA_1,...,-1000.0,-1000.0,-1000.0,-1000.0,-1000.0,87.0,94.0,88.0,-1000.0,88.0

### CBA

In [63]:
CBAnewINshp = os.path.join(data_folder, '50-CBAnew-IN.shp')  
CBAnewINgpd = gpd.read_file(CBAnewINshp)

In [64]:
CBAnewINgpd.shape
CBAnewINgpd.head(1)

,OBJECTID,NOM_SB,nom_ctdre,Shape_Leng,Shape_Area,X,Y,geometry
0,1,AARÓN CASTELLANOS,02-001-1,2.589841,0.005487,5274828.81,6268708.49,"MULTIPOLYGON (((-62.46551 -33.80869, -62.46575..."

In [65]:
CBAnewINgpd['centroide'] = CBAnewINgpd['nom_ctdre']
CBAnewINgpd['centroide'].head(1)

0    02-001-1
Name: centroide, dtype: object

In [66]:
CBAnewINgpd_out = CBAnewINgpd.merge(df1, on='centroide')

In [67]:
CBAnewINgpd_out.head(1)

,OBJECTID,NOM_SB,nom_ctdre,Shape_Leng,Shape_Area,X,Y,geometry,centroide,TC,G1,G2,A1,A2,TL,P,S1,S2,M1,M2
0,1,AARÓN CASTELLANOS,02-001-1,2.589841,0.005487,5274828.81,6268708.49,"MULTIPOLYGON (((-62.46551 -33.80869, -62.46575...",02-001-1,-1000.0,-1000.0,-1000.0,-1000.0,-1000.0,-1000.0,90.0,-1000.0,-1000.0,-1000.0,-1000.0

### CORRIENTES

In [68]:
CORRIENTESINshp = os.path.join(data_folder, '50-CORRIENTES-IN.shp')  
CORRIENTESINgpd = gpd.read_file(CORRIENTESINshp)
CORRIENTESINgpd.shape

(148, 6)

In [69]:
CORRIENTESINgpd['centroide'] = CORRIENTESINgpd['CTRDE']

CORRIENTESINgpd_out = CORRIENTESINgpd.merge(df1, on='centroide')
CORRIENTESINgpd_out.head(1)

,CTRDE,Lat,Long,Y,X,geometry,centroide,TC,G1,G2,A1,A2,TL,P,S1,S2,M1,M2
0,06ABEL,-27.48,-56.63,6961568.73,6536927.901,"MULTIPOLYGON (((-56.62767 -27.51177, -56.62827...",06ABEL,-1000.0,-1000.0,-1000.0,-1000.0,-1000.0,-1000.0,27.0,-1000.0,-1000.0,-1000.0,-1000.0

### CUENCA del SALADO

In [70]:

CuencaSaladoInshp = os.path.join(data_folder, 'P-CN_CuencaSalado.shp')  
CuencaSaladoIngpd = gpd.read_file(CuencaSaladoInshp)
CuencaSaladoIngpd.shape

(191, 2)

In [71]:
CuencaSaladoIngpd.head(1)

  Centroide                                           geometry
0      AP_1  MULTIPOLYGON (((5694881.728 5815589.608, 56948...

In [72]:
CuencaSaladoIngpd['centroide'] = CuencaSaladoIngpd['Centroide']

CuencaSaladoIngpd.drop('Centroide',
  axis='columns', inplace=True)
CuencaSaladoIngpd_out = CuencaSaladoIngpd.merge(df1, on='centroide')
CuencaSaladoIngpd_out.head(1)

,geometry,centroide,TC,G1,G2,A1,A2,TL,P,S1,S2,M1,M2
0,"MULTIPOLYGON (((5694881.728 5815589.608, 56948...",AP_1,-1000.0,-1000.0,-1000.0,-1000.0,-1000.0,-1000.0,143.0,-1000.0,-1000.0,-1000.0,-1000.0

### RESERVAS 500

In [73]:


R500_201709shp = os.path.join(data_folder, '500_201709.shp')  
R500_201709shpIngpd = gpd.read_file(R500_201709shp)
R500_201709shpIngpd.shape

(1317, 2)

In [74]:
R500_201709shpIngpd.head(1)

     Ctrde_ID                                           geometry
0  A100-30_20  MULTIPOLYGON (((-57.6096 -28.13447, -57.61006 ...

In [75]:
R500_201709shpIngpd['centroide'] = R500_201709shpIngpd['Ctrde_ID']
#CBAnewINgpd['centroide'].head()
R500_201709shpIngpd_out = R500_201709shpIngpd.merge(df1, on='centroide')
R500_201709shpIngpd_out.head(1)

,Ctrde_ID,geometry,centroide,TC,G1,G2,A1,A2,TL,P,S1,S2,M1,M2
0,A100-30_20,"MULTIPOLYGON (((-57.6096 -28.13447, -57.61006 ...",A100-30_20,-1000.0,-1000.0,-1000.0,-1000.0,-1000.0,-1000.0,12.0,-1.0,-1000.0,30.0,-6.0

### GRABANDO SHP

In [76]:
output_file = 'RESERVAS.shp'
output_path = os.path.join(output_folder, output_file)
reservasoutgpd.to_file(output_path , mode="a")

In [77]:
output_file = 'RESERVAS_500.shp'
output_path = os.path.join(output_folder, output_file)
R500_201709shpIngpd_out.to_file(output_path , mode="a")

In [78]:

output_file = '50-CBAnew-OUT.shp'
output_path = os.path.join(output_folder, output_file)
CBAnewINgpd_out.to_file(output_path , mode="a")

In [79]:

output_file = 'P_CN_Cuenca_Salado.shp'
output_path = os.path.join(output_folder, output_file)
CuencaSaladoIngpd_out.to_file(output_path , mode="a")

In [80]:
output_file = '50-CORRIENTES-OUT.shp'
output_path = os.path.join(output_folder, output_file)
CORRIENTESINgpd_out.to_file(output_path , mode="a")